<%= erb :header %>
<%= erb :nav %>

<div class="row">
	<div class="large-12 columns text-center">
		<h2 id="story">Our Story</h2>
	</div>
</div>
<div class="row">
	<div class="large-8 large-push-4 columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nisl eu ex porttitor faucibus at sed risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie massa nec arcu lobortis, nec pulvinar dolor molestie. Vestibulum sem tortor, sollicitudin nec velit commodo, efficitur laoreet turpis. Vestibulum laoreet iaculis quam, ac egestas neque euismod ut. Ut vehicula dui diam, in mollis magna condimentum eget.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nisl eu ex porttitor faucibus at sed risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie massa nec arcu lobortis, nec pulvinar dolor molestie. Vestibulum sem tortor, sollicitudin nec velit commodo, efficitur laoreet turpis. Vestibulum laoreet iaculis quam, ac egestas neque euismod ut. Ut vehicula dui diam, in mollis magna condimentum eget.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nisl eu ex porttitor faucibus at sed risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie massa nec arcu lobortis, nec pulvinar dolor molestie. Vestibulum sem tortor, sollicitudin nec velit commodo, efficitur laoreet turpis. Vestibulum laoreet iaculis quam, ac egestas neque euismod ut. Ut vehicula dui diam, in mollis magna condimentum eget.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nisl eu ex porttitor faucibus at sed risus.</p>
	</div>
	<div class="large-4 large-pull-8 columns">
		<p><img src="/images/400x300.png" alt text="A picture of the happy couple"></p>
		<p><img src="/images/400x300.png" alt text="Another picture of the happy couple"></p>
	</div>
	<hr/>
</div>

<div class="row">
	<div class="large-12 columns text-center">
		<h2 id="reception">Reception</h2>
	</div>
</div>
<div class="row">
	<div class="large-3 medium-3 columns hide-for-small text-center">
		<img src="/images/290x284.png">
	</div>
	<div class="large-5 medium-5 columns">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nisl eu ex porttitor faucibus at sed risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

		<p>
			Saturday, July 4, 2015<br>
			6:00 - 10:00PM
		</p>

		<p>
			The Place<br>
			1 Place Pl.<br>
			New York, NY 10001
		</p>
	</div>
	<div class="large-4 medium-4 columns text-center">
		<a href="https://www.google.com/maps/" target="_blank"><img src="images/290x257.png"></a>
		<p><a href="https://www.google.com/maps/" target="_blank">map &amp; directions</a></p>
	</div>
	<hr/>
</div>

<div class="row">
	<div class="large-12 columns text-center">
		<h2 id="travel">Travel</h2>
	</div>
</div>
<div class="row">
	<div class="large-3 text-center columns hide-for-medium hide-for-small">
		<p><img src="images/311x450.png" alt="A Picture of the Hotel"></p>
	</div>
	<div class="large-6 columns end">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nisl eu ex porttitor faucibus at sed risus. Lorem ipsum dolor sit amet.</p>

		<ul class="no-bullet">
			<li>King (1 Bed) - $0.00/night</li>
			<li>Double (2 Beds)	- $0.00/night</li>
		</ul>

		<p>When making a reservation, please use <a href="#" target="_blank" class="inline">this link</a> to obtain the preferred rate.</p>
		<p>
			<a href="#" target="_blank">Really Nice Hotel</a><br>
			2 Place Pl<br>
			New York, NY 10000<br>
			(212) 736-5000
		</p>
	</div>
	<hr/>
</div>


<%= erb :party %>
<%= erb :nav %>
