<h3>New party</h3>
<form action="/submit" method="POST">
  <input type="text" name="party[name]" placeholder="Enter party name" />
  <input type="text" name="party[ticket_number]" placeholder="Enter ticket number" />
  <input type="submit" value="Submit" />
  <a href="/parties">Show Parties</a>
</form>
